$media-break: 1023px;
$media-break-small: 550px;

$text-primary: black;
$text-secondary: darkgrey;
$text-theme: #0066cc;
$text-theme-secondary: #5294ff;

$bg-primary: white;
$bg-secondary: #e8e8e8;

$nav-text-primary: #fff;
$nav-text-secondary: #ccc;
$nav-text-theme: #0066cc;
$nav-bg-primary: #333;
$nav-bg-secondary: #202020;