$text-primary: black;
$text-secondary: darkgrey;
$bg-primary: white;
$bg-secondary: grey;

$nav-text-primary: #fff;
$nav-text-secondary: #ccc;
$nav-text-theme: #0066cc;
$nav-bg-primary: #333;
$nav-bg-secondary: #202020;